* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.container {
  max-width: 1344px;
  margin: 0 auto;
}
